*{
	padding: 0;
	margin: 0;
}
.container{
	margin: 0 auto;
	width: 1020px;
	height: auto;
}
/* css thanh */
.khung{
	width: 1020px;
	height: 400px;
	margin: 0 auto;
	background: #778899;
}
.khung .header{
	width: 1020px;
	height: 100px;
	background: red;
}
.header .logo{
	width: 30%;
	height: 100px;
	float: left;
}
.logo img{
	width: 100%;
	height: 90px;
	margin-top: 5px;
}
.header .menu{
	float: left;
	width: 70%;
	height: 100px;
}
.menu ul{
	margin: 0;
	padding: 0;
	display: block;
	width: auto;
	height: 50px;
	list-style: none;
	margin-left: 180px;
}
.menu ul li{
	display: block;
	width: auto;
	height: 30px;
	margin-left: 15px;
	float: left;
	line-height: 30px;
}
.menu ul li a{
	color: white;
	text-decoration: none;
}
.menu ul li.active{
	width: 60px;
	text-align: center;
	background: yellow;
}
.menu ul li:hover{
	border-bottom: 3px solid black; 
}
.khung .content{
	width: 100%;
	height: 300px;
}
.ali .title{
	width: 50%;
	height: 300px;
	background: blue;
	float: left;
}
.title .tle{
	width: 100%;
	height: 100px;
	margin-top: 80px;
	margin-left: 10px;
}
.title .login{
	width: 40%;
	height: 50px;
	background: green;
	border-radius: 20px;
	margin-left: 10px;
	margin-top: 20px;
}
.login img{
	width: 30%;
	height: 50px;
	float: left;
}
.login p{
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 70%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}
.login a{
	color: white;
	text-decoration: none;
}
.login p:hover{
	background: red;
	border-radius: 0px 20px 20px 0px;
}
.ali .pic{
	width: 50%;
	height: 300px;
	background: gray;
	float: left;
}
.pic img{
	width: 100%;
	height: 300px;
}
/* css linh */
.container .content{
	width: 100%;
	height: 300px;
	/*background: #848C94;*/
}
.content .box{
	float: left;
	width: 30%;
	height: 100%;
	background: white;
	border-radius: 5px;
}
.content .diff{
	margin-left: 5%;
	margin-right: 5%;
}
.box h4{
	float: left;
	color: blue;
	font-size: 30px;
	line-height: 30px;
	padding: 20px 10px;

}
.box .circle{
	float: right;
	width: 50px;
	height: 50px;
	/*border-radius: 100px;*/
	/*background: red;*/
	padding: 10px;
}
.circle img{
	width: 100%;
	height: 100%;
}
.box p{
	clear: both;
	font-size: 16px;
	line-height: 20px;
	padding: 5px 10px;
}
.box .more{
	width: 100px;
	height: 40px;
	background: blue;
	border-radius: 5px;
	margin-left: 10px;
}
.box .more:hover{	background: red; }
.box a{
	color: white;
	font-size: 20px;
	line-height: 40px;
	text-decoration: none;
	padding-left: 10px;
}
/* css phe */
/* css haem */
.container .Content{
	width: 100%;
	height: 200px;
	background: #032d70;
}
.container .Content .Aenean{
	float: left;
	width: 30%;
	height: 100%;
	margin-right: 5%;
	/* background: red; */
}
.Content .Aenean h3{
	padding-top: 10px;
	color: white;
	font-size: 25px;
}
.Content .Aenean h4{
	color: white;
	font-size: 20px;
	padding-bottom: 30px;
}
.Content .Aenean p{
	color: #5b97f7;
}
.container .Content .Duis{
	float: left;
	width: 30%;
	height: 100%;
	margin-right: 5%;
	/* background: red; */
}
.Content .Duis h3{
	padding-top: 10px;
	color: white;
	font-size: 25px;
}
.Content .Duis h4{
	color: white;
	font-size: 20px;
	padding-bottom: 30px;
}
.Content .Duis p{
	color: #5b97f7;
}
.Content .Duis ul li {
	float: left;
	display: block;
	width: 60px;
	height: 60px;
}
.Content .Duis ul li img{
	width: 60px;
	height: 60px;
}
.Content .Newsletter{
	float: left;
	width: 30%;
	height: 100%;
}
.Content .Newsletter h3{
	padding-top: 10px;
	color: white;
	font-size: 25px;
}
.Content .Newsletter h4{
	color: white;
	font-size: 20px;
	padding-bottom: 15px;
}
.Content .Newsletter .box1{
	margin: 0 auto;
	margin-top: 20px;
	width: 98%;
	height: 35px;
	border-radius: 5px;
	background: white;
}
/* .Content .Newsletter .box1 form{
	display: block;
	width: 98%;
	height: 35px;
} */
.Content .Newsletter .box2{
	float: left;
	margin-top: 12px;
	margin-left: 3px;
	margin-right: 2%;
	width: 60%;
	height: 35px;
	border-radius: 5px;
	background: white;
}
.Content .Newsletter a{
	float: left;
	margin-top: 12px;
	display: block;
	width: 36%;
	height: 35px;
	text-align: center;
	border-radius: 5px;
	line-height: 35px;
	background: #e5d527;
	text-decoration: none;
	color: black;
}
.Content .Newsletter a:hover{
	background: red;
}
.container .footer{
	width: 100%;
	height: 60px;
	background: #2cd4dd;	
}
.container .footer p{
	text-transform: uppercase;
	line-height: 60px;
	text-align: center;
	color: white;
}



